@font-face {
  font-family: "iconfont"; /* Project id 4836690 */
  src: url('iconfont.woff2?t=1740380933716') format('woff2'),
       url('iconfont.woff?t=1740380933716') format('woff'),
       url('iconfont.ttf?t=1740380933716') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daixiadan:before {
  content: "\e602";
}

.icon-a-Frame7:before {
  content: "\e603";
}

.icon-kefu:before {
  content: "\e604";
}

.icon-dianpu:before {
  content: "\e605";
}

.icon-hongbao:before {
  content: "\e606";
}

.icon-hezuo:before {
  content: "\e607";
}

.icon-zhangdan:before {
  content: "\e608";
}

.icon-duizhang:before {
  content: "\e609";
}

.icon-xuanpin:before {
  content: "\e60a";
}

.icon-guoli:before {
  content: "\e60b";
}

